.field__container {
  display: flex;
  align-items: center;
  background-color: rgba(247, 246, 246, 0.868);
  margin-bottom: 6px;
  padding-left: 10px;
  transition: 0.6s;

  p {
    margin-right: 16px;
    color: rgb(103, 101, 101);
  }

}

  .field__detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px;

    &:hover {
      background-color: rgb(229, 228, 228);
      transition: 0.4s;
      margin: 0;

      .field__hover {
          opacity: 100%;
          height: fit-content;
      }
    }
  }

  .field__type {
    width: 80%;
    display: flex;
    font-size: 1.1em;
    font-weight: 800;

    p {
      display: inline;
      color: black;
    }

    .field__name {
      border: 1px solid rgb(198, 196, 196);
      background-color: transparent;
      max-width: fit-content;
      display: inline;
      width: 80px;

      &:hover {
        background-color: white;
        outline: none;
      }
    }

    .field__dropdown {
        border: none;
        outline: none;
        background-color: rgb(231, 231, 231);
        padding: 2px;
        text-transform: uppercase;
        font-weight: 550;
      }
  }

  .field__switch {
    --button-width: 2em;
    --button-height: 1.2em;
    --toggle-diameter: 1em;
    --button-toggle-offset: calc(
      (var(--button-height) - var(--toggle-diameter)) / 2
    );
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #2471ca;
    display: flex;
    justify-content: space-around;
    width: 100px;
    cursor: pointer;
  }

  .slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
  }

  .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0
      calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }

  .field__switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
  }

  .field__switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(
      calc(
        var(--button-width) - var(--toggle-diameter) -
          var(--button-toggle-offset)
      )
    );
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
      calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  }

  .field__switch input[type="checkbox"] {
    display: none;
  }

  .field__switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
  }

  .field__switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(
      calc(
        var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
      )
    );
  }

  .field__hover {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 0px;
    opacity: 0%;
    transition: 0.15s;
    cursor: pointer;

    .delete {
      font-size: 18px;
      margin-right: 10px;
      margin-left: 7px;
    }

    .nested__plus {
      background-color: #fff;
      border-radius: 2rem;
      border: 1px solid black;
      margin-left: 6px;
    }
  }